body{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: monospace;

}

header{
    background-image: url("../img/img/mini-profile-bg-01.jpg");
    background-size: cover;
    height : 250px;
    color: white;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;

}

figure{
    margin:0; 
}

header div{
    background: rgba(0,0,0,0.13);
    width: 70%;

}

h1{
    font-size: 3rem;
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(226, 201, 164));
    -webkit-background-clip : text;
    -webkit-text-fill-color : transparent;
}


#welcome{
    background: rgb(240, 240, 240);
}

section{
    padding: 10px;
}
.full_width{
    width: 100%
}

.green{
    color:pink;
}

.blue{
    color: bisque;
}

.orange{
    color:salmon;

}

.grey{
   color: coral;
}

@media screen and (min-width:640px){

}

@media screen and (min-width:768px){
    #welcome{
        display: flex;
        
    }
    #welcome article{
        padding: 20px;
    }

}
@media screen and (min-width:992px){
    .company{
        display: flex;
        
    }
    .company{
        padding: 20px;
    }

    .partie-texte{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    figure{
        margin: 10px;
    }

    
}


figure div:first-child{
    height: 200px;
    overflow: hidden;


}

footer{
    text-align: center;
    background: linear-gradient(#f8cca9, #9c724f);
}

footer a{
    display: inline-block;
    
}

footer a:hover{
    transform: scale(2,2);
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes bounce{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    55%{
        transform: translateY(-25px);
    }
    60%{
        transform: translateY(-22px)
    }
    65%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}